#heading-text
{
  font-size: 50px;
  text-align:left;
  display: block;
  color: #bc6c25
}
#small-text
{
  text-align: left;
  color: #606c38
}
.card
{
  width: 50px;
  height: 100px;
  border: 2px solid red
}
.card img
{
  width: 
}