#heading-text
{
  font-size: 50px;
  text-align:left;
  display: block;
  color: #bc6c25
}
#small-text
{
  text-align: left;
  color: #606c38
}
.card
{
  width:250px;
  height: 300px;
  border: 2px solid red;
  border-radius: 20px;
}
.card img
{
  width: 250px;
  height: 150px;
  border-radius: 20px;

}
.card h1
{
  font-size: 20px;
  text-align: left;
}
#card-buttons
{
  display: flex;
  flex-direction: row;
  gap: 0px;
  justify-content: center;
  border: 1px solid lightgrey;
}
#detail-button
{
  width: 50%;
  justify-content: center;
}
#book-button
{
  width: 50%;
  color: white;
  background-color: black;

}